.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/unit/reports
test/e2e/reports
test/regression/backstop_data/bitmaps_test
test/regression/backstop_data/html_report
test/regression/backstop_data/ci_report
selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
